<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /></pre>
<h1>Your project '<%= @project.title %>' was created succesfully</h1>

<p>Attached is a summary of your Project Request '<%= @project.title %>' you submitted on <%= @project.created_at %>.
  To view your full request click the link below.</p>

<p>As this project's status is changed you will be notified via email.</p>

<a href="https://collateral-express-stagin-pr-3.herokuapp.com/<%= @project.id %>"
  style="display:block; text-transform: uppercase; letter-spacing: 1px; border-radius: 6px; background: #EB0183; background-image:background-image: linear-gradient(-180deg, #EB0183 0%, #FF3068 100%);">View project</a>

<hr>

<h3><%= @project.title %></h3>
<span style="border-radius: 12px; background-color: #EB0183"><%= @project.existing ? "Existing Project" : "New Project" %></span>

<% if @project.status %>
  <h4>Status</h4>
  <p><%= @project.status %></p>
<% end %>

<% if @project.due_date %>
  <h4>Target Due Date</h4>
  <p><%= @project.due_date %></p>
<% end %>

<% if @project.description %>
  <h4>Project Description</h4>
  <p><%= @project.description %></p>
<% end %>

<% if @project.due_date %>
  <h4>Target Due Date</h4>
  <p><%= @project.due_date %></p>
<% end %>

<% if @project.tactic %>
  <h4>Project Tactics</h4>
  <p>
  <% @project.tactic.each do |t| %>
    <% if t != "other" %>
      <span><%= t %></span>
    <% end %>
  <% end %>
  </p>
<% end %>

<a href="localhost:3000/project/<%= @project.slug %>"
  style="display:block; text-transform: uppercase; letter-spacing: 1px; border-radius: 6px; background: #EB0183; background-image:background-image: linear-gradient(-180deg, #EB0183 0%, #FF3068 100%);">View project</a>

<hr>

<p><small>This email was sent out to you, because you are the contact associated to this project request.
If you would like to change your contact information please go here <a href="http://localhost:3000/contact/<%= @project.contact_id %>/edit">.</small></p>
