<h1 style="margin: 0 0 32px;">'<%= @project.title %>' has been created</h1>

<div style="
  overflow: hidden;
  border-radius: 6px;
  border: 1px solid #cecece;
  ">
  <p style="padding: 32px 32px 0;">Attached is a summary of the Project Request '<%= @project.title %>' submitted on <%= @project.created_at.strftime("%B %d, %Y") %>, by <%= @contact.full_name %>.</p>

  <p style="padding: 0 32px;">To update the project's status, to flag, or archive it view this project online by clicking the link below.</p>

  <div style="margin: 0 32px 32px;">
    <table border="0" cellspacing="0" cellpadding="0" style="width:100%;">
      <tr>
        <td bgcolor="#EB0183" width="100%"
          style="padding: 6px;
          -webkit-border-radius:6px;
          border-radius:6px;
          tect-align:center;" align="center">

          <a href="<%= @url %>/project/<%= @project.slug %>" target="_blank"
            style="color: #ffffff; font-weight: 600; letter-spacing: 1px; text-align:center; text-transform: uppercase; text-decoration: none; display: inline-block;">
            View Project &rarr;
          </a>

        </td>
      </tr>
    </table>
  </div>

  <hr style="border: none;
    height: 1px;
    background: #cecece;">
  <div style="padding: 32px">

    <h1 style="margin: 0 0 16px;display: inline-block; padding: 8px; background: black; color: white;"><strong><%= @project.title %></strong></h1><br>

    <span style="border-radius: 30px; background-color: #f7f7f7; display: inline-block; padding: 4px 12px; color: black; box-shadow: 0 1px 3px rgba(0,0,0,0.09), 0 1px 2px rgba(0,0,0,0.18);"><%= @project.existing ? "Existing Project" : "New Project" %></span>

    <% if @project.status %>
      <h4>Status</h4>
      <p><%= @project.status %></p>
    <% end %>

    <% if @project.due_date %>
      <h4>Target Due Date</h4>
      <p><%= @project.due_date.strftime("%B %d, %Y") %></p>
    <% end %>

    <% if @project.description %>
      <h4>Project Description</h4>
      <p><%= @project.description %></p>
    <% end %>

    <% if @project.tactic.length > 0 %>
      <h4>Project Tactics</h4>
      <p>
      <% @project.tactic.each do |t| %>
        <% if t != "other" %>
          <span><%= t %></span>
        <% end %>
      <% end %>
      </p>
    <% end %>
  </div>

  <p style="background-color: #f7f7f7; margin: 0; padding: 16px 32px;"><small>This email was sent out to you, because you are the assigned admin to this project request.</small></p>
</div>
