<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /></pre>
<h1>'<%= @project.title %>' has been created</h1>

<p>Attached is a summary of the Project Request '<%= @project.title %>' submitted on <%= @project.created_at %>, by <%= @contact.full_name %>.</p>

<p>To update the project's status, to flag, or archive it view this project online by clicking the link below</p>

<a href="http://localhost:3000/project/<%= @project.slug %>?admin=true"
  style="display:block; text-transform: uppercase; letter-spacing: 1px; border-radius: 6px; background: #EB0183; background-image:background-image: linear-gradient(-180deg, #EB0183 0%, #FF3068 100%);">View project</a>

<hr>

<h3><%= @project.title %></h3>
<span style="border-radius: 12px; background-color: #EB0183"><%= @project.existing ? "Existing Project" : "New Project" %></span>

<% if @project.status %>
  <h4>Status</h4>
  <p><%= @project.status %></p>
<% end %>

<% if @project.due_date %>
  <h4>Target Due Date</h4>
  <p><%= @project.due_date %></p>
<% end %>

<% if @project.description %>
  <h4>Project Description</h4>
  <p><%= @project.description %></p>
<% end %>

<% if @project.due_date %>
  <h4>Target Due Date</h4>
  <p><%= @project.due_date %></p>
<% end %>

<% if @project.tactic %>
  <h4>Project Tactics</h4>
  <p>
  <% @project.tactic.each do |t| %>
    <% if t != "other" %>
      <span><%= t %></span>
    <% end %>
  <% end %>
  </p>
<% end %>

<a href="localhost:3000/project/<%= @project.slug %>?admin=true"
  style="display:block; text-transform: uppercase; letter-spacing: 1px; border-radius: 6px; background: #EB0183; background-image:background-image: linear-gradient(-180deg, #EB0183 0%, #FF3068 100%);">View project</a>

<hr>

<p><small>This email was sent out to you, because you are the assigned admin to this project request.</small></p>
