<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /></pre>
<h3>There has been a status update</h3>
<h1>'<%= @project.title %>' is <strong><%= @project.status %></strong></h1>
<h2><%= @project.description %></h2>
<pre>
<%= @contact.full_name %>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /></pre>
<h3>There has been a status update</h3>
<h1>'<%= @project.title %>' has been set to <strong><%= @project.status %></strong></h1>

<p>The team assigned to your project has updated it's status. If you have any questions about the status of your project please get in contact with <a href="mailto:<%= @project.user.email %>"><%= @project.user.full_name %></a>.</p>

<a href="http://localhost:3000/project/<%= @project.slug %>"
  style="display:block; text-transform: uppercase; letter-spacing: 1px; border-radius: 6px; background: #EB0183; background-image:background-image: linear-gradient(-180deg, #EB0183 0%, #FF3068 100%);">View project</a>

<p><small>This email was sent out to you, because you are the contact associated to this project request.
If you would like to change your contact information please go here <a href="http://localhost:3000/contact/<%= @project.contact_id %>/edit">.</small></p>
