<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /></pre>
<h3>There has been a status update</h3>
<h1>'<%= @project.title %>' is <strong><%= @project.status %></strong></h1>
<h2><%= @project.description %></h2>
<pre>
<%= @contact.full_name %>

This email was sent out to you, because you are subscribed to the postbox-mailing-list.
If you want to unscribscribe, please use this url: <%= @url %>.
