<% @page_title = "How It Works" %>
<% @header = {
    :title => "<p>How<br><strong>It Works</strong></p>",
    :image => "https://unsplash.it/g/1200/720"
  }
%>

<%= render "shared/hero_header" %>

<section id="copy">
  <div class="row">
    <div class="columns">
      <h3>How are we different?</h3>
      <p>
        With tools like TMAP and Brand Muscle already in your tool belt you might be wondering, “Why do I need to use Collateral Express?”, well that is a great question.
      </p>
      <p>
        Collateral Express is the go-to tool for any requesting any new projects, or requiring updates for an existing project.
      </p>
      <p>
        What that means for you is the days of shooting off an email and hoping it got in the right hands is over! Collateral Express gives you peace that your project is going through the correct steps and is added to the correct system all to help ensure it gets done in a timely and efficient manner.
      </p>
    </div>

    <div class="columns">
      <h4>What you need to know</h4>
      <p>
        Making all project requests go through a system to make your life easier will of course require some change in protocols. This is for the best!
      </p>
      <p>
        All that we ask is that you have all the information needed to help us complete your project. It really is that simple.
      </p>
      <p>
        Once your project has been received and approved, you will be informed with an ETD. Please be ready to answer any questions the project manager may have to help complete the project quickly.
      </p>
    </div>
  </div>
</section>

<section id="processSlides">
  <h3>Step <span id="stepIndex">1</span></h3>
  <div class="swiper-container">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide" data-key="1" style="background: black">
          <div class="row">
            <div class="columns small-9">
              <blockquote data-swiper-parallax="-200">
                <p>
                  Fill Out A<br>
                  <strong>Project Request</strong>
                </p>
              </blockquote>
              <p class="step-desc">Use the form and answer all the questions to the best of your knowledge. There are a variety of fields that will help the design team to take your request, so you can relax.</p>
            </div>
            <div class="columns">
              <%= image_tag "slides/airplane.png", :data => {swiper_parallax: "-500"} %>
            </div>
          </div>
        </div>
        <div class="swiper-slide gradient-bg" data-key="2">
          <div class="row">
            <div class="columns small-9">
              <blockquote data-swiper-parallax="-200">
                <p>
                  Fill Out A<br>
                  <strong>Project Request</strong>
                </p>
              </blockquote>
              <p class="step-desc">Another description and step</p>
            </div>
            <div class="columns">
              <%= image_tag "slides/airplane.png", :data => {swiper_parallax: "-500"} %>
            </div>
          </div>
        </div>
        <div class="swiper-slide" data-key="3" style="background: black">Slide 3</div>
        ...
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>

    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev swiper-button-white"></div>
    <div class="swiper-button-next swiper-button-white"></div>
  </div>
</section>

<section id="canDo">
  <div class="text-center">
    <h2>What can you do</h2>
    <p>
      Welcome to the one stop shop for your collateral needs.<br>
      The question is what can you not do?
    </p>
  </div>

  <div class="row">
    <div class="columns">
      <div class="card-container">
        <div class="card">
          <div class="flex align-center">
            <%= image_tag "icons/search" %>
          </div>
          <p>
            Find an exisiting asset to help communicate the direction of your project request, include the link or file  on the project request form.
          </p>
          <div class="flex">
            <a href="#" class="expanded button gradient">
              TMAP
            </a>
            <a href="#" class="expanded button gradient">
              Brand Muscle
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="columns">
      <div class="card-container">
        <div class="card primary-bg no-border text-center contrast-text">
          <div class="flex align-center">
            <%= image_tag "marketing/phone" %>
          </div>
          <div>
            <h4>Project Requests</h4>
            <span>Request, Check-In, Complete</span>
          </div>
        </div>
      </div>
  </div>
</section>
