<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= @page_title ? @page_title + " | " : "" %>Collateral Express</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script>
      (function(d) {
        var config = {
          kitId: 'zof7rqj',
          scriptTimeout: 3000,
          async: true
        },
        h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
      })(document);
    </script>
  </head>

  <body>
    <% if @current_contact %>
      <div id="cid" data-cid="<%= @current_contact %>"></div>
    <% end %>
    <header id="header">
      <div class="row">
        <div class="columns">
          <a href="/" id="logo"><img src="/assets/logo.png"></a>
        </div>
        <div class="small-9 columns" id="navBar">
          <nav id="links">
            <% @links.each do |link| %>
              <a href="<%= link[:url] %>"><%= link[:name] %></a>
            <% end %>
            <button id="toggle" class="hide-for-medium"></button>
          </nav>
        </div>
      </div>
    </header>
      <%= yield %>
    <footer id="footer"></footer>
    <%= javascript_pack_tag 'app.js', 'data-turbolinks-track': 'reload' %>
    <!-- <%= javascript_pack_tag 'layout/header/main.js' %> -->
  </body>
</html>
